USE [master]
GO
/****** Object:  Database [TriceraDB]    Script Date: 6/23/2019 2:52:44 AM ******/
CREATE DATABASE [TriceraDB]
ALTER DATABASE [TriceraDB] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TriceraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TriceraDB]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 6/23/2019 2:52:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[refid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[bulk_content] [varchar](max) NULL,
	[upload_dt] [smalldatetime] NULL,
	[uploader_id] [int] NULL,
	[file_location] [nvarchar](100) NULL,
 CONSTRAINT [PK_DOCUMENTS] PRIMARY KEY CLUSTERED 
(
	[refid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 6/23/2019 2:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[reqid] [int] NOT NULL,
	[seq] [int] NOT NULL,
	[description] [varchar](50) NOT NULL,
	[init_display] [varchar](max) NULL,
	[stored_proc] [varchar](255) NULL,
	[response_type] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSE]    Script Date: 6/23/2019 2:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE](
	[parent_reqid] [int] NOT NULL,
	[seq] [int] NOT NULL,
	[display] [varchar](50) NULL,
	[description] [varchar](255) NULL,
	[next_reqid] [int] NULL,
	[response_display] [varchar](max) NULL,
	[stored_proc] [varchar](255) NULL,
	[response_type] [smallint] NULL,
	[continue_loop] [smallint] NULL,
	[param_value] [varchar](255) NULL,
	[param_name] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSE_TYPE]    Script Date: 6/23/2019 2:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE_TYPE](
	[response_type] [smallint] NOT NULL,
	[description] [nchar](30) NOT NULL,
 CONSTRAINT [PK_RESPONSE_TYPE] PRIMARY KEY CLUSTERED 
(
	[response_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAMPLE_3C]    Script Date: 6/23/2019 2:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAMPLE_3C](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[concern] [varchar](100) NULL,
	[cause] [varchar](100) NULL,
	[countermeasure] [varchar](100) NULL,
	[upload_dt] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAMPLE_LESSONLEARNT]    Script Date: 6/23/2019 2:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAMPLE_LESSONLEARNT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[problem] [varchar](100) NULL,
	[solution] [varchar](max) NULL,
	[upload_dt] [smalldatetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCUMENTS] ON 

INSERT [dbo].[DOCUMENTS] ([refid], [title], [bulk_content], [upload_dt], [uploader_id], [file_location]) VALUES (2, N'TEST DOCUMENT', N'This is the content', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DOCUMENTS] OFF
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (1, 0, N'Welcome', N'Hello Human!, my name is Tri-C.E.R.A. and I''m an awesome chatbot. ', NULL, NULL)
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (1, 1, N'Ask username', N'What''s your name?', NULL, NULL)
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (2, 0, N'Initial', NULL, NULL, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop], [param_value], [param_name]) VALUES (1, -1, NULL, N'Get username', 2, N'what can I do for you?', N'', 1, NULL, NULL, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop], [param_value], [param_name]) VALUES (2, 1, N'Help me with my Concern', N'Search for anything in all records', 200, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop], [param_value], [param_name]) VALUES (4, 2, N'Add 3C', N'Add 3C', 400, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (1, N'STRING_COL1                   ')
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (2, N'STRING_COL2                   ')
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (3, N'STRING_COL3                   ')
SET IDENTITY_INSERT [dbo].[SAMPLE_3C] ON 

INSERT [dbo].[SAMPLE_3C] ([id], [concern], [cause], [countermeasure], [upload_dt]) VALUES (1, N'I am concern', N'I am cause', N'I am countermeasure', CAST(N'2019-06-23T02:51:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[SAMPLE_3C] OFF
SET IDENTITY_INSERT [dbo].[SAMPLE_LESSONLEARNT] ON 

INSERT [dbo].[SAMPLE_LESSONLEARNT] ([id], [problem], [solution], [upload_dt]) VALUES (1, N'Test', N'AAAAAAAA', CAST(N'2019-06-23T02:10:00' AS SmallDateTime))
INSERT [dbo].[SAMPLE_LESSONLEARNT] ([id], [problem], [solution], [upload_dt]) VALUES (2, N'Tesa123123asd asdas', N'asdasasda asdasawe', CAST(N'2019-06-23T02:13:00' AS SmallDateTime))
INSERT [dbo].[SAMPLE_LESSONLEARNT] ([id], [problem], [solution], [upload_dt]) VALUES (3, N'Teseeee', N'sdasdasdasda', CAST(N'2019-06-23T02:16:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[SAMPLE_LESSONLEARNT] OFF
ALTER TABLE [dbo].[SAMPLE_3C] ADD  DEFAULT (getdate()) FOR [upload_dt]
GO
ALTER TABLE [dbo].[SAMPLE_LESSONLEARNT] ADD  DEFAULT (getdate()) FOR [upload_dt]
GO
USE [master]
GO
