USE [master]
GO
/****** Object:  Database [TriceraDB]    Script Date: 6/21/2019 8:18:41 PM ******/
CREATE DATABASE [TriceraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TriceraDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TriceraDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TriceraDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TriceraDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TriceraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TriceraDB]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 6/21/2019 8:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[refid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[bulk_content] [varchar](max) NULL,
	[upload_dt] [smalldatetime] NULL,
	[uploader_id] [int] NULL,
	[file_location] [nvarchar](100) NULL,
 CONSTRAINT [PK_DOCUMENTS] PRIMARY KEY CLUSTERED 
(
	[refid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 6/21/2019 8:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[reqid] [int] NOT NULL,
	[seq] [int] NOT NULL,
	[description] [varchar](50) NOT NULL,
	[init_display] [varchar](max) NULL,
	[stored_proc] [varchar](255) NULL,
	[response_type] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSE]    Script Date: 6/21/2019 8:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE](
	[parent_reqid] [int] NOT NULL,
	[seq] [int] NOT NULL,
	[display] [varchar](50) NULL,
	[description] [varchar](255) NULL,
	[next_reqid] [int] NULL,
	[response_display] [varchar](max) NULL,
	[stored_proc] [varchar](255) NULL,
	[response_type] [smallint] NULL,
	[continue_loop] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSE_TYPE]    Script Date: 6/21/2019 8:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE_TYPE](
	[response_type] [smallint] NOT NULL,
	[description] [nchar](30) NOT NULL,
 CONSTRAINT [PK_RESPONSE_TYPE] PRIMARY KEY CLUSTERED 
(
	[response_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCUMENTS] ON 

SET IDENTITY_INSERT [dbo].[DOCUMENTS] OFF
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (1, 0, N'Welcome', N'Hello Human!, my name is Tri-C.E.R.A. and I''m an awesome chatbot. ', NULL, NULL)
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (1, 1, N'Ask username', N'What''s your name?', NULL, NULL)
INSERT [dbo].[REQUEST] ([reqid], [seq], [description], [init_display], [stored_proc], [response_type]) VALUES (2, 0, N'Initial', NULL, NULL, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop]) VALUES (1, -1, NULL, N'Get username', 2, N'what can I do for you?', N'', 1, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop]) VALUES (2, 1, N'Help me with my Concern', N'Search for anything in all records', 200, NULL, NULL, NULL, NULL)
INSERT [dbo].[RESPONSE] ([parent_reqid], [seq], [display], [description], [next_reqid], [response_display], [stored_proc], [response_type], [continue_loop]) VALUES (4, 2, N'Add 3C', N'Add 3C', 400, NULL, NULL, NULL, NULL)
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (1, N'STRING_COL1                   ')
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (2, N'STRING_COL2                   ')
INSERT [dbo].[RESPONSE_TYPE] ([response_type], [description]) VALUES (3, N'STRING_COL3                   ')
USE [master]
GO
