USE [TriceraDB]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 6/26/2019 1:14:53 PM ******/
DROP TABLE [dbo].[EMPLOYEE]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 6/26/2019 1:14:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [int] NOT NULL,
	[WS_EMP_ID] [varchar](10) NOT NULL,
	[LAST_NAME] [varchar](20) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[MIDDLE_NAME] [char](20) NULL,
	[NICK_NAME] [varchar](10) NULL,
	[BIRTHDATE] [date] NULL,
	[POS_ID] [smallint] NULL,
	[DATE_HIRED] [date] NULL,
	[STATUS] [varchar](1) NOT NULL,
	[IMAGE_PATH] [varchar](max) NULL,
	[GRP_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[ACTIVE] [smallint] NULL,
	[DIV_ID] [smallint] NULL,
	[SHIFT_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [WS_EMP_ID], [LAST_NAME], [FIRST_NAME], [MIDDLE_NAME], [NICK_NAME], [BIRTHDATE], [POS_ID], [DATE_HIRED], [STATUS], [IMAGE_PATH], [GRP_ID], [DEPT_ID], [ACTIVE], [DIV_ID], [SHIFT_STATUS]) VALUES (101010, N'101010', N'GARCIA', N'PATRICIA', N'                    ', N'PATRICIA', CAST(N'1995-02-12' AS Date), 6, CAST(N'2017-06-15' AS Date), N'1', N'\\FPI-HYPERV-002\Users\Administrator\Pictures\AIDE\EmployeePhotos\Koala.jpg', 2, 1, 1, 2, N'Semi-flex')
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [WS_EMP_ID], [LAST_NAME], [FIRST_NAME], [MIDDLE_NAME], [NICK_NAME], [BIRTHDATE], [POS_ID], [DATE_HIRED], [STATUS], [IMAGE_PATH], [GRP_ID], [DEPT_ID], [ACTIVE], [DIV_ID], [SHIFT_STATUS]) VALUES (170174, N'170174', N'DELA VEGA', N'JENNIFER', N'                    ', N'JEN', CAST(N'1989-10-26' AS Date), 4, CAST(N'2017-02-16' AS Date), N'1', N'\\FPI-HYPERV-002\Users\Administrator\Pictures\AIDE\EmployeePhotos\Jen.jpg', 2, 1, 1, 2, N'Semi-flex')
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [WS_EMP_ID], [LAST_NAME], [FIRST_NAME], [MIDDLE_NAME], [NICK_NAME], [BIRTHDATE], [POS_ID], [DATE_HIRED], [STATUS], [IMAGE_PATH], [GRP_ID], [DEPT_ID], [ACTIVE], [DIV_ID], [SHIFT_STATUS]) VALUES (40000597, N'118066', N'TRILLES', N'MARVIN', N'                    ', N'MARVIN', CAST(N'1979-09-24' AS Date), 3, CAST(N'1979-09-24' AS Date), N'1', N'\\FPI-HYPERV-002\Users\Administrator\Pictures\AIDE\EmployeePhotos\Koala.jpg', 2, 1, 1, 1, N'Semi-flex')
