USE [TriceraDB]
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 6/26/2019 1:14:53 PM ******/
DROP TABLE [dbo].[CONTACTS]
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 6/26/2019 1:14:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTACTS](
	[EMP_ID] [int] NOT NULL,
	[EMAIL_ADDRESS] [varchar](50) NOT NULL,
	[EMAIL_ADDRESS2] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[CEL_NO] [varchar](11) NULL,
	[LOCAL] [int] NULL,
	[HOMEPHONE] [varchar](11) NULL,
	[OTHER_PHONE] [varchar](11) NULL,
	[DT_REVIEWED] [datetime] NOT NULL,
 CONSTRAINT [PK_CONTACTS] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[EMAIL_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CONTACTS] ([EMP_ID], [EMAIL_ADDRESS], [EMAIL_ADDRESS2], [LOCATION], [CEL_NO], [LOCAL], [HOMEPHONE], [OTHER_PHONE], [DT_REVIEWED]) VALUES (101010, N'p.garcia_tr@ph.fujitsu.com', N'', N'MANILA', N'9217026607', 0, N'', N'', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[CONTACTS] ([EMP_ID], [EMAIL_ADDRESS], [EMAIL_ADDRESS2], [LOCATION], [CEL_NO], [LOCAL], [HOMEPHONE], [OTHER_PHONE], [DT_REVIEWED]) VALUES (170174, N'j.delavega@ph.fujitsu.com', N'', N'Net Square, BGC', N'9451234748', 0, N'', N'', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[CONTACTS] ([EMP_ID], [EMAIL_ADDRESS], [EMAIL_ADDRESS2], [LOCATION], [CEL_NO], [LOCAL], [HOMEPHONE], [OTHER_PHONE], [DT_REVIEWED]) VALUES (40000597, N'm.trilles@ph.fujitsu.com', N'', N'Eco Tower, BGC', N'9165009431', 0, N'', N'', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
