USE [TriceraDB]
GO
/****** Object:  Table [dbo].[LEAVE_CREDITS]    Script Date: 6/26/2019 1:14:53 PM ******/
DROP TABLE [dbo].[LEAVE_CREDITS]
GO
/****** Object:  Table [dbo].[LEAVE_CREDITS]    Script Date: 6/26/2019 1:14:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_CREDITS](
	[LC_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[LEAVE_CREDITS] [float] NOT NULL,
	[STATUS] [int] NOT NULL,
	[FY_START] [date] NULL,
	[FY_END] [date] NULL,
 CONSTRAINT [PK_LEAVE_CREDITS] PRIMARY KEY CLUSTERED 
(
	[LC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LEAVE_CREDITS] ON 

INSERT [dbo].[LEAVE_CREDITS] ([LC_ID], [EMP_ID], [LEAVE_CREDITS], [STATUS], [FY_START], [FY_END]) VALUES (1, 40000597, 45, 3, CAST(N'2019-04-01' AS Date), CAST(N'2020-03-31' AS Date))
INSERT [dbo].[LEAVE_CREDITS] ([LC_ID], [EMP_ID], [LEAVE_CREDITS], [STATUS], [FY_START], [FY_END]) VALUES (2, 40000597, 27, 4, CAST(N'2019-04-01' AS Date), CAST(N'2020-03-31' AS Date))
INSERT [dbo].[LEAVE_CREDITS] ([LC_ID], [EMP_ID], [LEAVE_CREDITS], [STATUS], [FY_START], [FY_END]) VALUES (3, 220002227, 21.5, 3, CAST(N'2019-04-01' AS Date), CAST(N'2020-03-31' AS Date))
SET IDENTITY_INSERT [dbo].[LEAVE_CREDITS] OFF
